.task {
    background-color: aliceblue;
}

.task * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task-modal {
    background-color: rgb(64, 197, 181);
}


.task-list {
    background-color: rgb(82, 107, 31);
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}